
/* Liquid layout; standard sidebar placement */

#sidebar-left {
  width: LSB-SBpx;
}

#sidebar-right {
  width: RSB-SBpx;
}

.sidebar-left #content-inner, .two-sidebars #content-inner {
  padding-left: LSB-SBpx;
}

.sidebar-right #content-inner, .two-sidebars #content-inner {
  padding-right: RSB-SBpx;
}