
/* Liquid layout; both sidebars on left */

#sidebar-left {
  width: LSB-SBpx;
  margin-right: -LSB-SBpx;
}

#sidebar-right {
  float: left;
  width: RSB-SBpx;
}

.two-sidebars #sidebar-right {
  margin-left: LSB-SBpx;
  margin-right: -BOTHSB-SBpx;
}

.sidebar-right #sidebar-right {
  margin-left: 0px;
  margin-right: -RSB-SBpx;
}

#sidebar-right-inner {
  margin-left: 0px;
  margin-right: 20px;
}

.sidebar-left #content-inner {
  padding-left: LSB-SBpx;
}

.sidebar-right #content-inner {
  padding-left: RSB-SBpx;
  padding-right: 0px;
}

.two-sidebars #content-inner {
  padding-left: BOTHSB-SBpx;
  padding-right: 0px;
}
