
/* Fixed layout; standard sidebar placement */

#page, .no-sidebars #content {
  width: PAGEpx;
}

#sidebar-left {
  width: LSB-SBpx;
  margin-right: -LSB-SBpx;
}

#sidebar-right {
  width: RSB-SBpx;
  margin-left: RSB-CONTENTpx;
  margin-right: -PAGEpx;
}

#content {
  margin-right: -PAGEpx;
}

.sidebar-left #content {
  width: LSB-CONTENTpx;
  margin-left: LSB-SBpx;
  margin-right: -PAGEpx;
}

.sidebar-right #content {
  width: RSB-CONTENTpx;
  margin-right: -RSB-CONTENTpx;
}

.two-sidebars #content {
  width: BOTHSB-CONTENTpx;
  margin-left: LSB-SBpx;
  margin-right: -RSB-CONTENTpx;
}