
/* views.css */

html.js a.views-throbbing,
html.js span.views-throbbing {
  background-image:url(images/throbber.gif);
  background-position: right -20px;
}

div.view div.views-admin-links li a {
  color: #333;
}

div.view div.views-admin-links-hover a,
div.view div.views-admin-links:hover a,
.views-tabset .views-tabs ul li.active a:hover {
  color: white;
}

/* views-admin.css */

.views-tabset {
  color: #b6b6b6; /* #494949 */
  background-color: black;
}

.views-tabset a:visited,
.views-tabset a:hover,
.views-tabset a {
  color: #99f;
}

.views-tabset .views-tabs {
  background-color: #090909; /* #F6F6F6 */
  border-top-color: #262b2e; /* #D6DBDE */
  border-bottom-color: #262b2e;
  border-left-color: #262b2e;
}

.views-tabset .views-tabs ul li {
  background-color: #101010; /* #efefef */
  border-bottom-color: #262b2e;
}

.views-tabset .views-tabs ul li.active,
.views-tabset .views-tabs ul li.active a:hover {
  background-color: black;
}

.views-tabset .views-tabs ul li a {
  color: #888;
}

.views-tabset .views-tabs ul li a:hover {
  background-color: #090909;
}

.views-tabset .views-tabs ul li.active a {
  color: white;
}

.views-tabset .views-display {
  border-color: #262b2e;
}

div.views-display-deleted,
div.views-display-deleted div.top,
div.views-display-deleted div.tab-section {
  background-color: #111;
}

.views-display, .views-display .top {
  background: black;
}

.views-display .tab-section .inside .views-category {
  background-color: #090909;
  border-color: #101010;
}

.views-display .tab-section .inside .views-category-title {
  background-color: #101010;
  border-bottom-color: #101010;
}

#views-ajax-title {
  color: white;
  background-color: #090909;
  border-left-color: #262b2e;
  border-right-color: #262b2e; /* #d6dbde */
}

#views-ajax-pad .message {
  background-color: #090909; /* f6f6f6 */
  border-color: #262b2e;
}

#views-ajax-pad form {
  background-color: black;
  border-color: #262b2e;
  color: white;
}

#views-ajax-pad .form-buttons {
  background: #090909;
}

#views-ajax-pad .views-messages,
form#views-ui-preview-form,
#center form#views-ui-preview-form {
  border-color: #262b2e;
}

a.views-button-configure,
a.views-button-add,
a.views-button-rearrange,
a.views-button-remove {
/*   background:transparent url(../images/sprites.png); */
  border-bottom-color: #32393e; /* #C2C9CE */
  border-right-color: #3d3631;
}

div.changed {
  background-color: #221;
}

div.view-changed {
  color: #c60; /* #f93 */
}

.views-display .tab-section .inside .defaulted {
  color: #555;
}

.hilited {
  color: white;
  background-color: #220;
}

#views-ajax-pad pre {
  border-color: #ccc;
  background-color: #0f0f0f; /* f0f0f0 */
}

form#views-add-display-form {
  border-bottom-color: #333;
}

/*
.view-locked {
  color: red;
  border: 1px solid red;
}
*/

/* views-list.css */

table.views-entry {
  border-color: #222;
  color: #b6b6b6; /* #494949 */
  background-color: black;
}

table.views-entry td.view-ops,
table.views-entry td.view-name {
  background-color: #111;
}

table.view-disabled {
  color: #666;
}

table.view-enabled td.view-name,
table.view-enabled td.view-ops {
  background: #142028; /* #e4f0f8 */
}